#product-card {
    display: flex;
    flex-direction: column;
    height: 22rem;
    width: 20rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
}


#product-card-image {
    height: 15rem;
    object-fit: cover;
    transition: filter .1s ease-in;
    z-index: 0;
}

#product-card:hover #product-card-image {
    filter: drop-shadow(0 0 .1rem rgb(177, 177, 177));
}

#product-card-name-review {
    display: flex;
    justify-content: space-between;
}

.product-card-text {
    font-size: .9rem;
    margin: .5rem 0;
}

.heart {
  background: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.5rem;
  z-index: 2;
  transition: transform 0.1s;
}
.product-and-heart{
    position: relative;
    width: auto;
}
