#review-card {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#review-card-stars {
    display: flex;
    font-size: 1.2rem;
}

#review-card-review-image {
    height: 8rem;
    width: 10rem;
    object-fit: cover;
}

#review-card-review-user-date-container {
    display: flex;
    gap: 2rem;
}

.review-card-review-user-date {
    font-size: .9rem;
    color: #626262
}

#review-card-buttons {
    display: flex;
    padding: 30px;
}
