.footer-bottom-bar {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    font-family: Arial, sans-serif;
    font-size: 0.85rem;

}

.footer-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.footer-bottom-left {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.footer-bottom-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.usa-flag {
    width: 20px;
    height: 14px;
    object-fit: cover;
    border-radius: 2px;
}


.divider {
    color: #999;
}

.footer-link {
    color: #ccc;
    text-decoration: none;
}

.footer-link:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-bottom-top {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
}




.footer-bottom-copyright {
    margin-top: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
