.hidden{
    visibility: hidden;
}

#profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 10rem;
    transition: ease-in .2s;
    background-color: white;
    cursor: pointer;
    /* margin: .3rem 0 .8rem 0; */
    /* z-index: 0; */
}

#profile-button:hover {
    transition: ease-in .2s;
    background-color: #CCEBFF;
}

.login-info {
    border: 0;
    /* margin: 3.5rem 0 0 -2rem; */
    color: black;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    filter: drop-shadow(0 0 0.2rem rgb(170, 170, 170));
    z-index: 0;
    width: 9rem;
}

.profile-buttons {
    border: 0;
    color: white;
    font-size: 1rem;
    border-radius: 12rem;
    background-color: #F1641E;
    cursor: pointer;
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
    font-weight: bold;
    border: .1rem solid #F1641E;
}

.button-and-info {
    display:flex;
    flex-direction: column;
    align-items: center;
}
